@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

header {
    text-align: center; 
    padding: 20px;
}

.logo {
    max-width: 15%; 
    height: auto; 
}

.form-outer-container {
    width: 40%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #2053BB;
}

.form-inner-container {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
    background-color: white;
}

#user-form{
    text-align: left;
}

#user-name, #user-email, #user-age, #user-dropdown, #user-comments, #submit-button{
    width: 100%;
}

#submit-button{
    background-color: #2053BB;
    color: #F2F2F2;
}

.content-container {
    display: flex;
    align-items: flex-start; 
}

.data-inputs{
    width: 55%;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }